.container-fluid {
    // max-width: calc(300px * 4 + 30px + 2rem);
    max-width: calc(300px * 4 + 40px + 250px + 2rem);
    margin: 0 auto;
  }

  .nav-grid {
    min-width: calc(300px * 4 + 40px + 250px);
  }

  .container-details {
    min-width: calc(300px * 4 + 40px - 250px);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px; 
  }

  .grid-preview-parents {
    display: grid; 
    grid-template-columns: calc(300px * 4 + 30px) 250px; 
    gap: 10px; 
  }
 
  .grid-parent {
    position: relative;
  }

  .grid-parent::after {
    position: absolute; 
    content:""; 
    background: white; 
    right: -5px;
    top: -76px;
    bottom: -66px;
    width: 1.5px;
  }

  .grid-carousel { 
    grid-column: span 2;
}

.grid-aside-articles {
  min-height: 100%;
  height: 100vh;
  overflow-y: auto;
}

.card {
  border-radius: 15px;
}

.card-title {
  font-size: x-large;
}

// .card-img-top {
//   border-top-right-radius: 15px;
//   border-top-left-radius: 15px;
// }

.badge {
  margin: 5px;
  border-radius: 10px;
  color: white;
}

.aktualitet {
  background-color: red;
}

.politike {
  background-color: blue;
}

.sport {
  background-color: green;
}

.ekonomi {
  background-color: yellow;
}

.rajoni {
  background-color: purple;
}

.kulture {
  background-color: orange;
}

.showbiz {
  background-color: pink;
}

.news-aside-articles {
  text-align: center;
  background: white; 
  border-radius: 15px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.news-aside-articles span {
  text-align: start;
}

.news-article-title {
  font-size: 14px;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.news-article-title:hover {
  color: #007bff;
}

.published-on{
  display: block;
  text-align: end;
  font-size: 11px;
  color: #a0a0a0;
}

.author {
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 20px;
  color: #007bff;
  margin: 5px 0;
}

.author > span {
  color: darkgrey;
    font-weight: 100;
    font-size: 13px;
    font-style: italic;
    margin-left: 0.25rem;
    font-family: cursive;
}

// .fixed-sidebar {
//   position: fixed;
//   top: 118px;
//   right: 275px;
//   height: calc(100vh - 185px);
//   text-align: center;
//   overflow-y: auto;
//   z-index: 9999;
//   width: 302px;
//   margin-right: 6px;
// }

.featured-articles {
  text-align: center;
}

.previous-next-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "previous next";
}

.next-article {
  grid-area: next;
}

.previous-article {
  grid-area: previous;
}

.next-article-grid {
  border-top: 10px solid gainsboro;
  border-left: 10px solid gainsboro;
  border-right: none !important;
}

.next, .previous {
  font-size: 11px;
  color: #a0a0a0;
  display: flex;
  align-items: center;
}

.previous-next-articles h5 {
  text-align: center;
}

.next i, .previous i{
  font-size: 1.25rem;
  color: #007bff;
}

.next i {
  margin-left: .5rem;
}

.previous i {
  margin-right: .5rem;
}

.next {
  float: right;
}

.previous-next-articles div:nth-child(1) {
  border-top: 10px solid gainsboro;
  border-right: 10px solid gainsboro;
  padding: 10px;
}

.previous-next-articles div:nth-child(2) {
  border-top: 10px solid gainsboro;
  padding: 10px;
}
