form {
    width: 500px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }

  .form-group > input,
  .form-group > textarea {
    border-radius: 10px;
  }

  .form-group > textarea {
    resize: none;
    min-height: 70px;
    padding: .5rem;
    border: 1px solid #ccc;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}